{{ header }}
{{ a }}
<form action="">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Judul Berita</span>
        </div>
        <input type="text" class="form-control" placeholder="Masukkan judul berita" aria-label="Judul Berita" aria-describedby="basic-addon1">
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Isi berita</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
    </div>

    <input type="submit" class="btn btn-primary" placeholder="Masukkan berita!">
</form>